@model IEnumerable<MvcBookStore1.Models.NHAXUATBAN>

@foreach (var item in Model)
{
    <li>
        <a href="@Url.Action("SPTheoNXB","BookStore",new { id = item.MaNXB })">
            @item.TenNXB
        </a>
    </li>
}
